<ion-view view-title="DEN @ DAL">
  <ion-content class="lato">


<!-- //////////////////// -->
<!-- Probabilities  Block -->
<!-- //////////////////// -->
  <div class="list card">

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-5 text-center light-grey-back"><small>Next Play</small></div>
	  <div class="col pad-5 text-center light-grey-back bord-left-grey bord-right-grey"><small>Drive Outcome</small></div>
	  <div class="col pad-5 text-center light-grey-back"><small>Expected Points</small></div>
  </div>
  </div>

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-5 text-center bg-190"><div class="pad-10">47%</div></div>
	  <div class="col pad-5 text-center bord-left-grey bord-right-grey bg-190"><div class="pad-10">51%</div></div>
	  <div class="col pad-5 text-center bg-190"><div class="pad-10">+4.2</div></div>
  </div>

  <div class="row pad-0">
	  <div class="col pad-5 text-center live-blue pad-bottom-10">Run</div>
	  <div class="col pad-5 text-center live-blue pad-bottom-10 bord-left-grey bord-right-grey">Punt</div>
	  <div class="col pad-5 text-center live-blue pad-bottom-10">Points</div>
  </div>
  </div>

  <div class="item pad-0">
  <div class="row pad-0 text-center">
	 <div class="col pad-0 pad-top-20 text-center"><img src="img/broncos.png" height="25px;" class="vert-mid pad-right-5"><small>Q3 2:54 | 2nd & 6 @ DAL 24</small></div>
  </div>
  <div class="row pad-0 text-center">
	 <div class="col pad-0 pad-bottom-10 text-center"><small class="text-muted">P. Manning complete pass to J. Thomas. 4 yd gain</small></div>
  </div>

  <div class="pad-10 text-center"><img src="img/panels/field-3d.jpg" style="width: 100%; height: auto;"></div>

  </div>


</div>
<!-- //////////////////// -->
<!-- Probabilities  Block -->
<!-- //////////////////// -->


<!-- //////////////////// -->
<!--   Plays Block        -->
<!-- //////////////////// -->
<div class="list card">

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-5 text-center light-grey-back"><small>Plays</small></div>
  </div>
  </div>



  <table style="font-size:80%; width:100%">
  <tbody>
  	
  <tr class="bord-top-grey border-left-broncos">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/broncos.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>1st & 10 @ DAL 20</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="width:65%;; line-height:12px;"><small>D. Murray 4 yd rush. (Tackle by E.Berry) <strong>+4 yds</strong></small></td>
  </tr>

  <tr class="bord-top-grey border-left-broncos">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/broncos.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>3rd & 2 @ DAL 14</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="line-height:12px;"><small>P. Manning incomplete pass. (Target J. Thomas) <strong>+0 yds</strong> <strong class="green">+6 pts</strong></small></td>
  </tr>

  <tr class="bord-top-grey">
  	<td class="light-grey-back text-center pad-0" colspan="2"><small><i>Change of Posession</i></small></td>
  </tr>

  <tr class="bord-top-grey border-left-cowboys">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/cowboys.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>4th & 8 @ DEN 42</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="line-height:12px;"><small>T.Romo incomplete pass. (Target D. Bryant)  <strong>+1 yds</strong></small></td>
  </tr>

  <tr class="bord-top-grey border-left-cowboys">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/cowboys.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>3rd & 6 @ DEN 39</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="line-height:12px;"><small>T.Romo incomplete pass. (Target D. Bryant)  <strong>+6 yds</strong></small></td>
  </tr>

  <tr class="bord-top-grey">
  	<td class="light-grey-back text-center pad-0" colspan="2"><small><i>Change of Posession</i></small></td>
  </tr>

  <tr class="bord-top-grey border-left-cowboys">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/cowboys.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>4th & 8 @ DEN 42</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="line-height:12px;"><small>T.Romo incomplete pass. (Target D. Bryant)  <strong>-7 yds</strong></small></td>
  </tr>

  <tr class="bord-top-grey border-left-cowboys">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/cowboys.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>3rd & 6 @ DEN 39</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="line-height:12px;"><small>T.Romo incomplete pass. (Target D. Bryant)  <strong>-10 yds</strong></small></td>
  </tr>

  <tr class="bord-top-grey">
  	<td class="light-grey-back text-center pad-0" colspan="2"><small><i>Change of Posession</i></small></td>
  </tr>

  <tr class="bord-top-grey border-left-broncos">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/broncos.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>4th & 8 @ DEN 42</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="line-height:12px;"><small>T.Romo incomplete pass. (Target D. Bryant)</small></td>
  </tr>

  <tr class="bord-top-grey border-left-broncos">
  	<td class="text-center pad-5 vert-mid" style="width:35%; line-height:10px;"><img src="img/broncos.png" height="20px;" class="vert-mid pad-right-5"> <small>Q3 3:01</small><br><small>3rd & 6 @ DEN 39</small></td>
  	<td class="bord-left-grey text-left pad-5 vert-mid" style="line-height:12px;"><small>T.Romo incomplete pass. (Target D. Bryant)</small></td>
  </tr>




  </tbody>
  </table>
  




</div>
<!-- //////////////////// -->
<!--   Plays Block        -->
<!-- //////////////////// -->




  </ion-content>


<!-- //////////////////// -->
<!--      Footer Tabs     -->
<!-- //////////////////// -->
  <div class="tabs-striped tabs-color-nfl-live tabs-icon-top">
    <div class="tabs">
      <a class="tab-item" href="#/app/playlists">
        <i class="icon ion-ios-lightbulb"></i>
        Predictions
      </a>
      <a class="tab-item active" href="#/app/live">
        <i class="icon ion-flash"></i>
        Live
      </a>
      <a class="tab-item" href="#/app/fantasy">
        <i class="icon ion-star"></i>
        Fantasy
      </a>
    </div>
  </div>
<!-- //////////////////// -->
<!--      Footer Tabs     -->
<!-- //////////////////// -->


</ion-view>
