<ion-view view-title="DEN @ DAL">
  <ion-content class="lato">


<!-- //////////////////// -->
<!-- Overview Score Block -->
<!-- //////////////////// -->
  <div class="list card">

  <div class="item pad-top-10 pad-bottom-0">
    <div class="row">
	  <div class="col text-center"><img src="img/broncos.png" height="50px;"></div>
	  <div class="col text-center"><h1>14</h1></div>
	  <div class="col text-center"><small>3Q<br>2:34</small></div>
	  <div class="col text-center"><h1>10</h1></div>
	  <div class="col text-center"><img src="img/cowboys.png" height="50px;"></div>
  </div>
  </div>

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-5 text-center light-blue-back"><small>Money Line</small></div>
	  <div class="col pad-5 text-center light-blue-back bord-left-grey bord-right-grey"><small>Spread</small></div>
	  <div class="col pad-5 text-center light-blue-back"><small>Total</small></div>
  </div>
  </div>

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-5 text-center sm-70">DEN -135<br>DAL +145</div>
	  <div class="col pad-5 text-center sm-70 bord-left-grey bord-right-grey">DEN -6<br>DAL +6</div>
	  <div class="col pad-5 text-center sm-70">o42 (-110)<br>u42 (-110)</div>
  </div>
  </div>

  <div class="item pad-5 text-center">
  <small>  AT&T Stadium
    <i class="icon ion-ios-sunny"></i> 51&deg;</small>
  </div>

</div>
<!-- //////////////////// -->
<!-- Overview Score Block -->
<!-- //////////////////// -->


<!-- //////////////////// -->
<!--   Swish Picks Block  -->
<!-- //////////////////// -->
<div class="list card">

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-5 text-center light-blue-back"><small>Money Line Pick</small></div>
	  <div class="col pad-5 text-center light-blue-back bord-left-grey bord-right-grey"><small>Spread Pick</small></div>
	  <div class="col pad-5 text-center light-blue-back"><small>Total Pick</small></div>
  </div>
  </div>

  <div class="item pad-0">
  <div class="row pad-0">

	  <div class="col pad-5">

	  <div class="row">

		  <div class="col pad-0 text-center" style="vertical-align:middle;">
		  <img src="img/broncos.png" height="35px;" style="vertical-align:middle;"> <dt style="display:inline;">-135</dt>
		  </div>

	  </div>

	  <div class="text-center pad-bottom-5">
	  <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star gold"></i>
	  </div>

	  </div>


	  <div class="col pad-5 bord-left-grey bord-right-grey">

	  <div class="row">

		  <div class="col pad-0 text-center">
		  <img src="img/cowboys.png" height="35px;" style="vertical-align:middle;"> <dt style="display:inline;">+6</dt>
		  </div>


	  </div>

	  <div class="text-center pad-bottom-5">
	  <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star star-empty"></i> <i class="icon ion-ios-star star-empty"></i> <i class="icon ion-ios-star star-empty"></i>
	  </div>

	  </div>


	  <div class="col pad-5">

	  <div class="row">

		  <div class="col pad-0 text-center">
		  <img src="img/over.png" height="35px;" style="vertical-align:middle;"> <dt style="display:inline;">42</dt>
		  </div>


	  </div>

	  <div class="text-center pad-bottom-5">
	  <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star gold"></i> <i class="icon ion-ios-star star-empty"></i> <i class="icon ion-ios-star star-empty"></i> <i class="icon ion-ios-star star-empty"></i>
	  </div>

	  </div>

  </div>
  </div>


</div>
<!-- //////////////////// -->
<!--   Swish Picks Block  -->
<!-- //////////////////// -->




<!-- //////////////////// -->
<!--    Win Proj Block    -->
<!-- //////////////////// -->
<div class="list card">

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-5 text-center light-blue-back"><small>Projected Winner</small></div>
  </div>
  </div>

  <div class="item pad-0">
  <div class="row pad-0">

	  <div class="col pad-0">

	  <div class="row panel-broncos">

		  <div class="col pad-0 text-center" style="vertical-align:middle;">
		  <dt class="pad-10 bg-140">67%</dt>
		  </div>

	  </div>

	  </div>


	  <div class="col pad-5 bord-left-grey bord-right-grey">

	  <div class="row">

		  <div class="col pad-0 text-center">
		  <img src="img/cowboys.png" height="35px;" style="vertical-align:middle;"> <dt style="display:inline;">+6</dt>
		  </div>

	  </div>

	  </div>


	  <div class="col pad-0">

	  <div class="row panel-cowboys">

		  <div class="col pad-0 text-center" style="vertical-align:middle;">
		  <dt class="pad-10 bg-140">33%</dt>
		  </div>

	  </div>

	  </div>

  </div>
  </div>


</div>
<!-- //////////////////// -->
<!--    Win Proj Block    -->
<!-- //////////////////// -->


  </ion-content>


<!-- //////////////////// -->
<!--      Footer Tabs     -->
<!-- //////////////////// -->
  <div class="tabs-striped tabs-color-nfl-live tabs-icon-top">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-ios-lightbulb"></i>
        Predictions
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-flash"></i>
        Live
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Fantasy
      </a>
    </div>
  </div>
<!-- //////////////////// -->
<!--      Footer Tabs     -->
<!-- //////////////////// -->


</ion-view>
