<ion-view view-title="DEN @ DAL">
  <ion-content class="lato">


<!-- //////////////////// -->
<!-- Probabilities  Block -->
<!-- //////////////////// -->
  <div class="list card">

  <div class="item pad-0">
  <div class="row pad-0">
	  <div class="col pad-top-10 pad-bottom-15 text-center light-grey-back">Fantasy Leaders</div>
  </div>

  <ion-list>
  <ion-item on-hold="showDetails()">Do Laundry</ion-item>
</ion-list>
 
  <div class="row pad-0 pad-top-10  bord-top-grey">
	  <div class="col pad-10 text-center light-grey-back active-position"><small>ALL</small></div>
	  <div class="col pad-10 text-center light-grey-back"><small>QB</small></div>
	  <div class="col pad-10 text-center light-grey-back"><small>RB</small></div>
	  <div class="col pad-10 text-center light-grey-back"><small>WR</small></div>
	  <div class="col pad-10 text-center light-grey-back"><small>TE</small></div>
	  <div class="col pad-10 text-center light-grey-back"><small>D</small></div>
	  <div class="col pad-10 text-center light-grey-back"><small>K</small></div>
  </div>
  </div>

  <div class="list">

    <div class="item item-avatar">
      <img src="img/broncos.png">
      <h3><strong>24.9pts</strong> - Peyton Manning, QB </h3>
      <small class="text-muted">234 pass yds, 2 TDs, 4 rush yds</small>
    </div>

    <div class="item item-avatar">
      <img src="img/cowboys.png">
      <h3><strong>18.1pts</strong> - Tony Romo, QB </h3>
      <small class="text-muted">151 pass yds, 2 TDs</small>
    </div>

    <div class="item item-avatar">
      <img src="img/cowboys.png">
      <h3><strong>15.2pts</strong> - Dez Bryant, WR </h3>
      <small class="text-muted">96 rec yds, 1 TD</small>
    </div>

    <div class="item item-avatar">
      <img src="img/broncos.png">
      <h3><strong>14.3pts</strong> - Demaryus Thomas, WE </h3>
      <small class="text-muted">103 rec yds, 24 rush yds, 0 TD</small>
    </div>

    <div class="item item-avatar">
      <img src="img/broncos.png">
      <h3><strong>24.9pts</strong> - Peyton Manning, QB </h3>
      <small class="text-muted">234 pass yds, 2 TDs, 4 rush yds</small>
    </div>

    <div class="item item-avatar">
      <img src="img/cowboys.png">
      <h3><strong>18.1pts</strong> - Tony Romo, QB </h3>
      <small class="text-muted">151 pass yds, 2 TDs</small>
    </div>

    <div class="item item-avatar">
      <img src="img/cowboys.png">
      <h3><strong>15.2pts</strong> - Dez Bryant, WR </h3>
      <small class="text-muted">96 rec yds, 1 TD</small>
    </div>

    <div class="item item-avatar">
      <img src="img/broncos.png">
      <h3><strong>14.3pts</strong> - Demaryus Thomas, WE </h3>
      <small class="text-muted">103 rec yds, 24 rush yds, 0 TD</small>
    </div>

</div>



</div>
<!-- //////////////////// -->
<!-- Probabilities  Block -->
<!-- //////////////////// -->





  </ion-content>


<!-- //////////////////// -->
<!--      Footer Tabs     -->
<!-- //////////////////// -->
  <div class="tabs-striped tabs-color-nfl-live tabs-icon-top">
    <div class="tabs">
      <a class="tab-item" href="#/app/playlists">
        <i class="icon ion-ios-lightbulb"></i>
        Predictions
      </a>
      <a class="tab-item" href="#/app/live">
        <i class="icon ion-flash"></i>
        Live
      </a>
      <a class="tab-item active" href="#/app/fantasy">
        <i class="icon ion-star"></i>
        Fantasy
      </a>
    </div>
  </div>
<!-- //////////////////// -->
<!--      Footer Tabs     -->
<!-- //////////////////// -->


</ion-view>
